
.CocktailImage {
    display: inline-block;
    margin: auto;
    margin-bottom: 40px;
    float: right;

}


.ShowMoreButton {
    display: inline-block;
    padding: 0px;
    text-align: center;
    vertical-align: top;
    float: left;
    margin-bottom: 15px;
}
.CocktailListElementDescription{
    color: black;
    width: 50%;
    height: auto;
    margin-left: 25%;
}


.img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    align-content: center;
}