.App {
  text-align: center;
}

.Frame {
  display: block;
  margin:  0px auto;
  border: 0px solid #ccc;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.8);


}

body {
  background: url("./Images/background.jpg") top center fixed;
  background-size: cover;

}

html {
  overflow-y: scroll;
}